@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/pexels-karolina-grabowska-7195369.jpg");
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #14d8ea;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #00dffc;
}

header .navigation {
    position: relative;
    display: flex;
    margin: 0;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #14d8ea;
}

section {
    padding: 100px;
}

.fila {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fila .colu50 {
    position: relative;
    width: 48%;
}

.tituloText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.tituloText span {
    color: #14d8ea;
    font-weight: 700;
    font-size: 1.5em;
}

.fila .colu50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 500px;
    height: 100%;
}

.fila .colu50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    resize: none;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control textarea:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success textarea {
    border-color: #2ecc71;
}

.form-control.error textarea {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #14d8ea;
    border: 2px solid #14d8ea;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

#footer{
    background-color: #777;
    height: 50px;
    position: relative;
    position: bottom;
}
.hide{
    height: 70px;
}
.logo-footer{
    color: #000000;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#informa{
    height: 150px;
    width: 150px;
}

.txt{
    font-family: cursive;
    font-size: small;
}
#cuerpo{
    padding-left: 2%;
}
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}